/* common shared styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;
}

.btn-primary {
    color: white;
    background-color: #E55473;
}


/* header part start */
.head-container {

    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left-container {
    width: 600px;
    margin: auto;
}

.img-title {
    width: 600px;
    height: 800px;
    margin-top: 50px;
    margin-right: 100px;
}

.btn {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.heading-title {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;

}

.heading-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

/* header part end  */

/* first section start */
.main-container {
    height: 100vh;
    text-align: center;
    padding-top: 100px;

}

.main-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.main-paragraph {
    width: 600px;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 50px;
}


.box1 {
    width: 430px;
    height: 430px;
    padding-top: 100px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}


.box2 {
    width: 430px;
    height: 530px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.box3 {
    width: 430px;
    height: 530px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.second-img {
    padding-top: 100px;
}

.third-img {
    padding-top: 60px;
}

.main-footer {
    display: flex;
    justify-content: center;
    gap: 250px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
}

/* first section end */

/* second section start */
.second-section {
    height: 50vh;
    padding-top: 100px;
}

.section-container {
    width: 1340px;
    height: 220px;
    margin: auto;
    padding-top: 80px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.section-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 290px;

}

.section-title {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.section-paragraph {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
}

/* second section end */

/* third section start */
.third-section {
    height: 80vh;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.third-section-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 150px;
}

.third-section-head {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.third-section-paragaraph {
    width: 600px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.primary-color {
    color: #E55473;
}

/* third section end */
/* the fourth section start */
.fourth-section {
    height: 90vh;
}

.fourth-section-heading {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-top: 50px;
}

.fourth-section-paragaraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 600px;
    margin: auto;
}

.fourth-section-img-container {
    margin-top: 50px;
}

.fourth-section-img {
    margin: 0px 8px;
}

/* fourth section end */

/* fifth section start */

.fifth-section {
    height: 60vh;
}

.fifth-section-container {
    width: 1440px;
    height: 350px;
    margin: auto;
    background-image: url("../img/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    border-radius: 8px;
}

.fifth-section-heading {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.fifth-section-paragaraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.fifth-section-input {
    width: 600px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.fifth-input-container {
    padding-top: 40px;
}

/* fifth section end */

/* footer section start */
.footer-container {
    height: 40vh;
    background: #111010;
    padding-top: 40px;
    margin-top: 40px;

}

.footer-heading {
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
}

.footer-paragaraph {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 600px;
    margin: auto;
}

.footer-second-paragaraph {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
}
.footer-title{
    color: white;
}