/* common shared styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;
}

.btn-primary {
    color: white;
    background-color: #E55473;
}


/* header part start */
.head-container {

    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left-container {
    width: 600px;
    margin: auto;
}

.img-title {
    width: 600px;
    height: 800px;
    margin-top: 50px;
    margin-right: 100px;
}

.btn {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.heading-title {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;

}

.heading-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}
/* header part end  */